* {
  color:white;
  font-family: cursive;
}

body {
  width: 100vw; 
  height: 100vh;
  display: flex;
  flex-direction: row;
}

main {
  background-color: purple;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  width:68vw;
  height: 100vh;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 20px;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}

h3 {
  font-size: 25px;
  text-align: center;
}

.user-section {
  background-color: #CF9FFF;
  display:flex;
  color: black;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  width: 16vw;
}

.computer-section {
  background-color: #CF9FFF;
  display:flex;
  color: black;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  width: 16vw;
}

.both-rules {
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height:85%;
}

.rules {
  background-color: #CF9FFF;
  margin: 10px;
  width: 17vw;
  height: 40%;
  cursor: pointer;
  border-radius: 10px;
}

.rules:hover {
  background-color: #BF40BF;
}

.rules > p {
  margin: 0;
}

p {
  font-size: 18px
}

.change-game-button {
 margin-top: 30px;
 width: 150px;
 height: 50px;
 background-color: purple;
 border-radius: 5px;
 cursor: pointer;
 box-shadow: 6px 6px 2px darkorchid;
 font-size: 20px;
}

.change-game-button:hover {
  scale: 1.2;
  box-shadow: 9px 9px 3px darkorchid;
  background-color: #BF40BF
}

.counter {
  font-size: 20px;
}

.user-token  {
  font-size: 150px;
  margin: 20px
}

.computer-token {
  font-size: 150px;
  margin: 20px
}

.fight-section > img {
  height: 120px;
  width: 120px;
  margin: 30px;
  margin-top: 40px;
  cursor: pointer;
}

.fighter-icons:hover {
  scale: 1.2;
}

.hidden {
  display: none;
}


