* {
  color:white;
  font-family: cursive;
}

body {
  width: 100vw; 
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 20px;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}

h3 {
  font-size: 25px;
  text-align: center;
}

.whole-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.main-section {
  background-color: purple;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  width:68vw;
  height: 100vh
}

.user-section {
  background-color: #CF9FFF;
  display:flex;
  color: black;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  width: 16vw;
}

.computer-section {
  background-color: #CF9FFF;
  display:flex;
  color: black;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  width: 16vw;
}

.hidden {
  display: none;
}

.both-rules {
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.rules {
  background-color: #CF9FFF;
  margin: 10px;
  width: 17vw;
  height: 16vw;
  cursor: pointer
}

.rules > p {
  margin: 0;
}

p {
  font-size: 15px
}


.change-game-button {
 margin-top: 30px;
 background-color: purple;
 border-radius: 5px;
 cursor: pointer;
 box-shadow: 5px 5px 2px darkorchid;
}

.counter {
  font-size: 20px;
}

.user-token  {
  font-size: 150px;
  margin: 20px
}

.computer-token {
  font-size: 150px;
  margin: 20px
}